@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
  --white: #FFFFFF;
  --ciano-escuro: #2AB3B1;
  --ciano-claro:#32cac7;
  --background: #F2F2F2;
  --amarelo: #C0DF33;
  --cinza: #9AA7BE;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
}



body{

  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

.card {

 Width: 635px;
 Height: 460px;
 border-radius: 10px;
 display: block;
 box-shadow: 5px 5px rgba(0, 0, 0, 0.205);
 

}

.first-box 
{
  background-color: var(--white);
  padding: 40px;
  border-radius: 10px 10px 0px 0px;
}

.tittle-initial{
color: var(--ciano-escuro);
font-weight: 700;
font-size: 24px;
padding-bottom: 24px;

}

.sub-tittle{

color: var(--amarelo);
font-weight: 700;
font-size: 18px;
padding-bottom: 11px;

}

.tittle-paragrafh{

color: var(--cinza);

font-weight: 400;
font-size: 16px;
}

.agrupamento-container{

display: flex;
flex-direction: row;
Width: 100%;
Height: 100%;


}
.second-container{

  background-color: var(--ciano-escuro);
   Width: 318px;
Height: 259px;
padding: 40px;
border-radius: 0px 0px 0px 10px;

}

.second-tittle{

color: var(--white);
font-weight: 700;
font-size: 18px;

}

.price-month{

  display: flex;
  flex-direction: row;
  gap: 11px;
  padding-top:18px;
  align-items: flex-end;
  padding-bottom: 9px;
}

.price{

  font-weight: 700;
  font-size: 32px;
  color: var(--white);

}

.month{
  opacity: 80%;
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
}

.second-paragrafh{

color: var(--white);
font-size: 16px;
font-weight: 400;
padding-bottom: 26px;

}

.btn{
text-decoration: none;
color: white;
display: flex;
justify-content: center;
background-color: var(--amarelo);
height: 48px;
align-items: center;
border-radius: 10px;
box-shadow: 5px 5px rgba(0, 0, 0, 0.205);


}

.btn:hover{

opacity: 75%;
}

.third-container{

  Width: 318px;
  Height: 259px;
  padding: 40px;
  background-color: var(--ciano-claro);
  color: var(--white);
  border-radius: 0px 0px 10px 0px;
  
}

.third-tittle{
font-weight: 700;
font-size: 18px;
padding-bottom: 18px;
}

.third-paragrafh{

  opacity: 75%;
  font-weight: 400;
  font-size: 14px;
  Width: 90%;
  Height: 140px;
  list-style-type: none;
}


@media (max-width: 900px) {

  .card{

    box-shadow: none;
  }

  .first-box{

    margin: 0 auto;
    max-width: 318px;



  }

  .btn:hover{

    background-color: var(--amarelo);
    opacity: 100%;

    


  }

 

  .tittle-paragrafh{

    padding-bottom: 32px;
  }

  .second-paragrafh{

    padding-bottom: 26px;
    padding-top: 9px;
  }



  .agrupamento-container{

    display: flex;
    align-items: center;
    flex-direction: column;
     
    height: auto;  
    Width: 318px;
    margin: 0 auto;
    padding-bottom: 30px;
   
  }
  

  .second-container{


    border-radius: 0px;
  }

  .third-container{

    border-radius: 0px 0px 10px 10px;
    
   
    


  }
  
}







